[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
requests = "*"
"beautifulsoup4" = "*"
geopy = "*"
tabulate = "*"
colorama = "*"

[dev-packages]
mypy = "*"
pytest = "*"

[requires]
python_version = "3.7"
